@import "tailwindcss";

:root {
  --background: #080B12;
  --foreground: #FFFFFF;
  --primary: #EFBF04;
  --secondary: #d1b43f;
}

@theme inline {
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080B12;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
